.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --board-padding-bottom: 200px;
}

.App {
  text-align: center;
}

.mobile-app {
  background-color: white;
}

.desktop-app {
  background-color: white;
}

.hidden-keyboard-div {
  position: fixed;
  width: 1px;
  height: 1px;
  z-index: -10;
}

.hidden-keyboard-input {
  position: fixed;
  width: 1px;
  height: 1px;
}

.desktop-app .challenge-bar {
  padding: 10px
}

.mobile-app .challenge-bar {
  padding: 5px
}

.challenge-bar-question {
  text-align: right;
  height: 35px;
  font-size: 25px;
}

.challenge-bar-answer {
  display: flex;
  flex: 1;
  margin-right: 0;
  margin-left: auto;
}

.board-div {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--board-padding-bottom);
}

/*  ------ Edit Board   ------ */

.edit-board {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.edit-board-preview {
  display: flex;
  flex: 0 0 50%;
  flex-direction: column;
}

.edit-area {
  display: flex;
  flex: 0 0 50%;
  flex-direction: column;
  background-color: lightgrey;
  padding: 20px;
  height: 100vh;
  overflow-y: scroll;
}

.edit-area-title-1 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.edit-area-title-2 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.edit-board .react-transform-component {
  width: 45vw;
  height: 45vw;
  /* max-height: 0px; */
  /* padding-bottom: 300px; */
}

.edit-board .board {
  width: 45vw;
  max-height: 0px;
  margin: 0 auto;
  text-align: left;
}

.edit-area-challenges {
  text-align: right;
  display: flex;
  flex-direction: column;
}

.edit-area-challenges .selected-challenge {
  
  border: 1px solid yellow;
}

.edit-area-challenges input {
  text-align: right;
}

.edit-area-challenge {
  background-color: whitesmoke;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  cursor: pointer;
  border: 1px black solid;
}

.edit-challenge-question {
  flex: 8;
  padding: 4px;
}

.edit-challenge-answer {
  flex: 6;
  padding: 4px;
}

.edit-challenge-location {
  flex: 2;
  padding: 4px;
}

.edit-challenge-location input{
  display: inline-block;
  width: 35px;
}

.edit-challenge-location button{
  margin-top: 2px;
  margin-bottom: 2px;
  width: 100px;
}